.profile-info {
    background-color: #c4bfe3;
    margin: 0px -30px;
    margin-top: -20px;
    padding: 52px 30px;
    .name {
        font-size: 42px;
        font-weight: bold;
        color: #373841;
        margin-bottom: -6px;
    }
    .text {
        font-size: 24px;
        font-weight: bold;
        color: #5b5c69;
        cursor: pointer;
        text-decoration: underline;
    }
    .text-col {
        max-width: 30.5% !important;
    }
}
