@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700;800&display=swap");

body {
  background-color: #c4bfe3;
}

.app {
  //background-color: #c4bfe3;
  font-family: "Alegreya Sans SC", sans-serif;
  
  .page {
    min-height: 100vh;
    //padding: 20px 30px;
  }
}
