.right{
    float: left;
    cursor: pointer;
}

.left{
    float: right;
    cursor: pointer;
}

.table-container {
    overflow-y: hidden;
    overflow-x: scroll;
    overflow-x: hidden;
}
.day {
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
    width: 47px;
    border-radius: 20px;
    .number {
        font-weight: bold;
        color: #5b5c69;
    }
    .weekDay {
        margin-top: -25px;
        font-weight: bold;
        color: #5b5c69;
    }
}

.month {
    color: #373841;
}

.ant-col-2{
    align-self: center;
    margin-top: 17px !important;
}