.films__search {
    background: #d5d1ed !important;
    border: 1px solid #000000 !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-radius: 10px !important;
    width: calc(306px + 306 * ((100vw - 320px) / (1440 - 320))) !important;
    height: calc(29px + 29 * ((100vw - 320px) / (1440 - 320))) !important;
    margin-top: calc(10px + 10 * ((100vw - 320px) / (1440 - 320))) !important;
}
