@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}



.container {
  max-width: 1520px;
  margin: 0 auto;
}

@media (max-width: 1520px) {
  .container {
    max-width: 1400px;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 950px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 520px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 110px 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 110px 1fr / 1fr;
      grid-template-areas: "header" "seats";
      background-color: #5B5C69;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #353640;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.seats {
  background-color: #5B5C69;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.seats__logo {
  width: 100%;
  position: relative;
  text-align: center;
}

.seats__logo img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: calc(15px + 11 * ((100vw - 320px) / (1440 - 320)));
  -o-object-fit: cover;
     object-fit: cover;
}

.seats__items {
  margin-top: calc(68px + 68 * ((100vw - 320px) / (1440 - 320)));
}

.seats__item {
  margin-top: calc(5px + 5 * ((100vw - 320px) / (1440 - 320)));
  color: #C4BFE3;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -ms-grid-rows: 50px;
      grid-template-rows: 50px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
      grid-template-areas: "str place en";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .seats__item {
    -ms-grid-rows: 150px;
        grid-template-rows: 150px;
  }
}

.seats__item__number_start {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: str;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  font-size: calc(16px + 16 * ((100vw - 320px) / (1440 - 320)));
}

.seats__item__places {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: place;
  -ms-grid-columns: (50.82px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 50.82px);
  height: 50.82px;
  -webkit-column-gap: calc(10px + 9 * ((100vw - 320px) / (1440 - 320)));
          column-gap: calc(10px + 9 * ((100vw - 320px) / (1440 - 320)));
  row-gap: calc(5px + 5 * ((100vw - 320px) / (1440 - 320)));
}

.seats__item_place {
  color: #C4BFE3;
  font-weight: bold;
  font-size: 32px;
  background: url("../../resources/Ellipse.png") 0 0/auto auto no-repeat;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seats__item_place:hover {
  background-color: #C4BFE3;
  color: #5B5C69;
  cursor: default;
}

.seats__item__number_end {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: en;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: calc(16px + 16 * ((100vw - 320px) / (1440 - 320)));
}

.busy {
  background: rgba(196, 191, 227, 0.36) !important;
  border-radius: 50%;
}

.active {
  background-color: #C4BFE3;
  color: #5B5C69;
}

.seats__description {
  padding-bottom: calc(8px + 8 * ((100vw - 320px) / (1440 - 320)));
  margin-top: 36px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(113px + 113 * ((100vw - 320px) / (1440 - 320))) 1fr auto;
      grid-template-columns: calc(113px + 113 * ((100vw - 320px) / (1440 - 320))) 1fr auto;
      grid-template-areas: "plc stat butt";
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.description__place {
  font-weight: bold;
  font-size: calc(16px + 16 * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(18px + 18 * ((100vw - 320px) / (1440 - 320)));
  color: #C4BFE3;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: plc;
}

.description__statuses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: center;
  -webkit-column-gap: calc(8px + 8 * ((100vw - 320px) / (1440 - 320)));
          column-gap: calc(8px + 8 * ((100vw - 320px) / (1440 - 320)));
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: stat;
}

.description__status_logo {
  text-align: center;
}

.description__status_text {
  font-weight: bold;
  font-size: calc(11px + 11 * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(13px + 13 * ((100vw - 320px) / (1440 - 320)));
  color: #C4BFE3;
}

.description__button {
  visibility: hidden;
  background: #C4BFE3;
  border-radius: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: butt;
  width: calc(95px + 95 * ((100vw - 320px) / (1440 - 320)));
  height: calc(24px + 24 * ((100vw - 320px) / (1440 - 320)));
  font-weight: bold;
  font-size: calc(12px + 13 * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(14px + 14 * ((100vw - 320px) / (1440 - 320)));
  color: #5B5C69;
}

.vis {
  visibility: visible;
}
